/* Navbar.css */
.ant-menu {
    /* background-color: #1890ff; */
    color: #fff;
    border-bottom: none;
  }
  
  .ant-menu-item a {
    color: #fff;
    text-decoration: none;
    padding-left: 100px;
  }
  
  .ant-menu-item:hover,
  .ant-menu-item-active {
    background-color: #096dd9;
  }