/* StudentForm.css */
.ant-form-item {
    margin-bottom: 16px;
  }
  
  .ant-form-item-label {
    font-weight: bold;
  }
  
  .ant-input,
  .ant-date-picker,
  .ant-radio-group {
    width: 100%;
  }
  
  .ant-upload-list-item-info .ant-upload-list-item-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
  }